body {
  margin: 0;
  background-color: #263238;
  color: white;
  font-family: 'Open Sans', sans-serif;

  .f-input[type=text] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .f-label {
    display: block;
    margin-bottom: 5px;
  }

  .f-button {
    text-decoration: none;
    background-color: #00ACC1;
    border: none;
    padding: 7px 10px;
    margin: 5px;
    border-radius: 2px;
    color: white;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 3px 10px #111;
      filter: brightness(120%);
    }
  }
}
